<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My 1st Django blog</title>
</head>
<body>
    <h1>First Django blog</h1>
    <p>Created by: so and so</p>

    <h3>First Post</h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sit consequuntur
         voluptatem impedit, iste molestiae, placeat sint nesciunt, porro vitae corrupti.
         Ipsa nesciunt suscipit, distinctio adipisci, labore ab id vitae nostrum facilis,
         repudiandae quisquam libero dicta. Doloremque modi saepe fugit quas doloribus 
         ipsam quasi veritatis illo? Eveniet voluptate accusamus illum?
    </p>

    <h3>Second Post</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Ratione perferendis modi est dolor exercitationem perspiciatis dolorum animi, 
        magnam quos debitis quas blanditiis voluptates molestias aperiam.
    </p>
</body>
</html>